
@font-face {
  font-family: 'AkzidenzGroteskBQ-LigCnd';
  src: url('AkzidenzGroteskBQ-LigCnd.eot?#iefix') format('embedded-opentype'),  url('AkzidenzGroteskBQ-LigCnd.otf')  format('opentype'),
	     url('AkzidenzGroteskBQ-LigCnd.woff') format('woff'), url('AkzidenzGroteskBQ-LigCnd.ttf')  format('truetype'), url('AkzidenzGroteskBQ-LigCnd.svg#AkzidenzGroteskBQ-LigCnd') format('svg');
  font-weight: normal;
  font-style: normal;
}
